#homepage__boards-list {
    text-align: center;

    li {
        background-color: #eee;
    }
}

.homepage__board {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
    width: 15%;
    float: left;
}

.homepage__board__link {
    text-decoration: none;
    color: #337ab7;

    &:hover, &:focus {
        color: #23527c;
        text-decoration: underline;
    }

    &:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}
