.clickable-link__container {
    text-align: center;
}

.clickable-link {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    user-select: none;

    &:hover {
        color: #a9a9a6;
    }
}
